/* * {
  border: 1px solid black;
} */

/* header { 
  background-image: url("./assets/Desktop.jpg"); 
  background-image: linear-gradient(red, yellow, green, purple, black);
} */

.bold {
  font-weight: bold;
}

.regular {
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

.fixedNav {
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  top: 0;
  right: 0;
  padding: 20px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  padding: 5px;
}

.App {
  background-color: white;
  height: auto;
  width: auto;
  /* background-color: blue; */
  background-image: url("./assets/Desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}

.container {
  height: 700px;
  width: 1280px;
  display: flex;
  /* align-content: center; */
  align-items: flex-start;
  /* align-self: center; */
  justify-content: center;
  /* border: 1px solid black; */
}


h1 {
  font-size: 100px;
  mix-blend-mode: difference;
  color: white;
  /* text-align: center; */
}

.stack{

}

.project1 {

}

.project2 {

}

.project3 {

}

.project4 {

}

.contact {

}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
